<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{url_for('static', filename='js/bootstrap.min.js')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Login</title>
    <!-- 이미지 가운데 정렬하려고 넣음 -->
    <style>
      .img_area{height:300px; line-height:300px;}
      .img_area img{vertical-align:middle;}
    </style>
  </head>
  <body>
  

  
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-md-2">
          <div class="img_area">
            <img src="{{url_for('static', filename='images/AlphaCircle.png')}}" alt="Image" class="img-fluid">
          </div>
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Sign Up to <strong>Alphacircle</strong></h3>
              <p class="mb-4">8K x 8K 360º 3D VR Solution Provider</p>
            </div>

            <form action="/auth/signup" method="post">
              <div class="form-group">
                <label for="username">username</label>
                <input type="text" class="form-control" name="username" id="username">
              </div>
              <div class="form-group">
                <label for="password">password</label>
                <input type="password" class="form-control" name="password" id="password">
              </div>

              <div class="form-group mb-4">
                <label>expired</label>
                </div>
                <input type="date" id="expired_date" name="expired_date" class="form-control">

              <input type="submit" value="Sign Up" class="btn text-white btn-block btn-primary">
            </form>

            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
    <script>document.getElementById('expired_date').valueAsDate = new Date();</script>
    <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
  </body>
</html>